/*
	Jairo Jurado
	ATW
	07/31/2014
	Capstone Project - Room Temp
*/

/* --------------- Main --------------- */
body {
	background-color: #ddcb26;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

footer {
	clear: both;
	text-align: center;
}

h1 {
	display: block;
	text-align: center;
	font-size: 20pt;
}